<nz-card nzTitle="通知">
  <nz-list
    [nzDataSource]="notices"
    [nzRenderItem]="item"
    [nzItemLayout]="'horizontal'"
    [nzLoading]="loading"
  >
    <ng-template #item let-item>
      <nz-list-item [nzActions]="[readAction, deleteAction]">
        <ng-template #nzTitle>
          <a
            [routerLink]="['/score', item.audioId]"
            (click)="readNotice(item.id)"
            >{{ item.content }}</a
          >
        </ng-template>
        <ng-template #readAction
          ><a (click)="readNotice(item.id, $event)">标记为已读</a></ng-template
        >
        <nz-list-item-meta [nzTitle]="nzTitle">
          <ng-template #deleteAction
            ><a (click)="deleteNotice(item.id)">删除</a></ng-template
          >
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
</nz-card>
