.courseHeader {
  background-color: #fff;
}
.courseTitle {
  display: inline-flex;
}
.courseDescription{
  margin-top: 2rem;
  margin-left: 2rem;
}
.courseImage {
  img{
  width: 200px;
  height: 200px;
  }
}