<div class="courseHeader">
  <div class="courseTitle">
    <div class="courseImage">
      <img [src]="courseDetail?.pictureUrl" alt="course image" />
      <div class="update-mode">
        <p>
          <input
            type="file"
            style="display:none;"
            #fileInput
            (change)="onFileChanged($event)"
          />
          <a (click)="fileInput.click()">更换图片</a>
        </p>
      </div>
    </div>
    <div
      class="courseDescription"
      *ngIf="courseDetail && courseDetail.title && courseDetail.description"
    >
      <h1>{{ courseDetail.title }}</h1>
      <p>{{ courseDetail.description }}</p>
    </div>
  </div>
  <ul nz-menu [nzMode]="'horizontal'">
    <li nz-menu-item><i nz-icon type="home"></i> 课程内容</li>
    <li nz-menu-item><i nz-icon type="team"></i> 上课人员</li>
    <li nz-menu-item><i nz-icon type="edit"></i> 课程信息</li>
    <li nz-menu-item><i nz-icon type="setting"></i> 课程设置</li>
  </ul>
</div>
<router-outlet></router-outlet>
