<div class="sider-menu">
  <div class="menu">
    <ng-container *ngIf="(authService._user | async) as user">
      <div class="avator-wrapper">
        <div class="avator-mode">
          <img [src]="user.avatar" alt="avatar" />
          <div class="update-mode">
            <p>
              <input
                type="file"
                style="display:none;"
                #fileInput
                (change)="onFileChanged($event)"
              />
              <a (click)="fileInput.click()">更换头像</a>
            </p>
          </div>
        </div>
        <div class="des-mod">
          <span>{{ user.name }}</span>
        </div>
      </div>
    </ng-container>
  </div>
  <ul nz-menu [nzMode]="'vertical'" style="height:100%">
    <li nz-submenu routerLink="courses" routerLinkActive="active">
      <span title><i nz-icon type="book"></i> 我的课程</span>
    </li>
    <li nz-submenu routerLink="audios" routerLinkActive="active">
      <span title><i nz-icon type="customer-service"></i> 我的音频</span>
    </li>
    <li nz-submenu routerLink="profile" routerLinkActive="active">
      <span title><i nz-icon type="profile"></i> 个人信息</span>
    </li>
    <li nz-submenu>
      <span title><i nz-icon type="lock"></i> 账号绑定</span>
    </li>
    <li nz-submenu>
      <span title><i nz-icon type="safety"></i> 密码安全</span>
    </li>
  </ul>
</div>
