<div class="sider-menu">
  <div class="menu">
    <div class="avator-wrapper">
      <div class="avator-mode">
        <img src="http://localhost:4455/avatars/default.png" alt="avatar" />
        <div class="update-mode">
          <p><a href="#">更换头像</a></p>
        </div>
      </div>
      <div class="des-mod">
        <span>{{ authService.user.name }}</span>
      </div>
    </div>
  </div>
  <ul nz-menu [nzMode]="'vertical'">
    <li nz-submenu>
      <span title><i nz-icon type="profile"></i> 个人信息</span>
    </li>
    <li nz-submenu>
      <span title><i nz-icon type="lock"></i> 账号绑定</span>
    </li>
    <li nz-submenu>
      <span title><i nz-icon type="safety"></i> 密码安全</span>
    </li>
  </ul>
</div>
