<div class="practiceList">
  <div nz-row [nzGutter]="8">
    <ng-container *ngFor="let practice of practices">
      <div
        nz-col
        nzSpan="6"
        [routerLink]="['/practices/', practice.id]"
        [queryParams]="{ title: practice.title }"
      >
        <nz-card
          nzHoverable
          style="width:240px"
          [nzCover]="coverTemplate"
          nzBordered="false"
        >
          <nz-card-meta
            [nzTitle]="practice.titel"
            [nzDescription]="practice.description"
            nzLoading="true"
          ></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img
            class="practiceImg"
            [alt]="practice.title"
            [src]="practice.resourceUrl"
          />
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
