<nz-carousel nzAutoPlay>
  <div nz-carousel-content *ngFor="let imgUrl of imgUrls">
    <img src="{{ imgUrl }}" class="carouselImg" />
  </div>
</nz-carousel>
<app-menu></app-menu>
<div class="courseList">
  <div nz-row [nzGutter]="6">
    <ng-container *ngFor="let course of courses">
      <div
        nz-col
        nzSpan="5"
        [routerLink]="['/courses/', course.id]"
        class="card-container"
      >
        <div class="card-top">
          <ng-container *ngIf="!course.pictureUrl">
            <img
              class="card-banner"
              alt="example"
              src="../../assets/images/composer.jpg"
            />
          </ng-container>
          <ng-container *ngIf="course.pictureUrl">
            <img class="card-banner" alt="example" [src]="course.pictureUrl" />
          </ng-container>
        </div>
        <div class="card-content">
          <h3 class="card-name">
            {{ course.title }}
          </h3>
          <div class="card-bottom">
            <div class="card-info">
              <ng-container [ngSwitch]="course.level">
                <span *ngSwitchCase="1">易</span>
                <span *ngSwitchCase="2">偏易</span>
                <span *ngSwitchCase="3">适中</span>
                <span *ngSwitchCase="4">偏难</span>
                <span *ngSwitchCase="5">难</span>
              </ng-container>
              <i nz-icon type="user" theme="outline" class="participants"></i>
              <span>99</span>
              <span class="course-likes">
                <ng-container *ngFor="let item of [1, 2, 3, 4, 5]">
                  <i nz-icon type="star" theme="twotone"></i>
                </ng-container>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="pagination-style">
    <nz-pagination
      [nzPageIndex]="pageIndex"
      [nzTotal]="totalCourse"
      [nzPageSize]="8"
      routerLink="/courses"
      [queryParams]="{ page: pageIndex }"
      queryParamsHandling="merge"
      routerLinkActive
      (nzPageIndexChange)="pageIndexChange($event)"
      id="pagination-bar"
    ></nz-pagination>
  </div>
</div>
