[nz-carousel-content] {
  text-align: center;
  height: 300px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}
.expertList {
  padding-left: 5%;
}
.carouselImg {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.expertImg {
  height: 200px;
  margin-top: 15px;
}