<div class="expertList">
  <div nz-row [nzGutter]="8">
    <ng-container *ngFor="let expert of expertsList">
      <div nz-col nzSpan="6" [routerLink]="['/experts/', expert.id]">
        <nz-card
          nzHoverable
          style="width:240px"
          [nzCover]="coverTemplate"
          nzBordered="false"
        >
          <nz-card-meta
            [nzTitle]="expert.name"
            [nzDescription]="expert.introduction"
            nzLoading="true"
          ></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img class="expertImg" [alt]="expert.name" [src]="expert.avatar" />
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
