ul {
  margin: 10px;
}
li:focus {
  outline: none;
}

.nav-right {
  float: right;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.full-layout {
  min-height: 100%;
}

.notification-message {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
}
