<nz-layout>
  <nz-sider>
    <ul nz-menu [nzMode]="'vertical'">
      <li
        nz-menu-item
        routerLink="/admin"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >首页
      </li>
      <li nz-menu-item routerLink="/admin/courses" routerLinkActive="active"
        >课程</li
      >
      <li nz-menu-item routerLink="/admin/users" routerLinkActive="active"
        >用户</li
      >
    </ul>
  </nz-sider>
  <nz-content> <router-outlet></router-outlet> </nz-content>
</nz-layout>
