<nz-layout style="min-height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'">
    <div class="logo"></div>
    <ul
      nz-menu
      [nzTheme]="'dark'"
      [nzMode]="'inline'"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item routerLink="/admin/reports">
        <span
          ><i nz-icon type="line-chart"></i
          ><span class="nav-text">网站报告</span></span
        >
      </li>
      <li nz-menu-item routerLink="/admin/messages">
        <span>
          <i nz-icon type="message"></i> <span class="nav-text">消息处理</span>
        </span>
      </li>
      <li nz-submenu>
        <span title routerLink="/admin/course">
          <i nz-icon type="video-camera"></i>
          <span class="nav-text">课程管理</span>
        </span>
        <ul>
          <li nz-menu-item routerLink="/admin/course/list">
            <span>
              <i nz-icon type="bars"></i> <span class="nav-text">课程列表</span>
            </span>
          </li>
        </ul>
      </li>
      <li nz-menu-item routerLink="/admin/users">
        <span
          ><i nz-icon type="user"></i
          ><span class="nav-text">用户管理</span></span
        >
      </li>
      <li nz-menu-item routerLink="/admin/notifications">
        <span>
          <i nz-icon type="notification"></i>
          <span class="nav-text">发布通知</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content style="margin:24px 16px 0;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
