<ul nz-menu [nzMode]="'horizontal'">
  <li
    nz-menu-item
    routerLink="/courses"
    [queryParams]="{ kind: 1 }"
    queryParamsHandling="merge"
    routerLinkActive
  >
    <div class="icon musicTheory">
      <fa-icon [icon]="faMusic" class="fa-lg"></fa-icon>
    </div>
    乐理
  </li>
  <li
    nz-menu-item
    routerLink="/courses"
    [queryParams]="{ kind: 2 }"
    queryParamsHandling="merge"
    routerLinkActive
  >
    <div class="icon sightSinging">
      <fa-icon [icon]="faMicrophone" class="fa-lg"></fa-icon>
    </div>
    视唱
  </li>
  <li
    nz-menu-item
    routerLink="/courses"
    [queryParams]="{ kind: 3 }"
    queryParamsHandling="merge"
    routerLinkActive
  >
    <div class="icon earTraining">
      <fa-icon [icon]="faHeadphones" class="fa-lg"></fa-icon>
    </div>
    练耳
  </li>
</ul>
