div {
  display: inline;
  padding: 0.5rem;
  border-radius: 50%;
}
fa-icon {
  color: #fff;
}
.ant-menu-horizontal{
  border-bottom: none;
  box-shadow:0px 4px 8px 0px rgba(7, 17, 27, 0.1);
}
ul.ant-menu{
  text-align: center;
}
li.ant-menu-item{
  margin: 0 2rem;
}
.musicTheory{
  background-color: #fda33e;
}
.sightSinging{
  background-color: #53c9e1;
}
.earTraining{
  background-color: #fd88cb;
}
.square{
  background-color: #4be598;
}