<ul nz-menu [nzMode]="'horizontal'">
  <li nz-menu-item>
    <div class="icon musicTheory">
      <fa-icon [icon]="faMusic" class="fa-lg"></fa-icon>
    </div>
    乐理
  </li>
  <li nz-menu-item>
    <div class="icon sightSinging"
      ><fa-icon [icon]="faMicrophone" class="fa-lg"></fa-icon
    ></div>
    视唱
  </li>
  <li nz-menu-item>
    <div class="icon earTraining"
      ><fa-icon [icon]="faHeadphones" class="fa-lg"></fa-icon
    ></div>
    练耳
  </li>
  <li nz-menu-item>
    <div class="icon square"
      ><fa-icon [icon]="faComments" class="fa-lg"></fa-icon
    ></div>
    广场
  </li>
</ul>
