<div class="contentList">
  <nz-list
    [nzDataSource]="data"
    [nzRenderItem]="item"
    [nzItemLayout]="'horizontal'"
  >
    <ng-template #item let-item>
      <nz-list-item [nzContent]="content" class="content-item">
        <nz-skeleton
          [nzAvatar]="true"
          [nzActive]="true"
          [nzTitle]="false"
          [nzLoading]="item.loading"
        >
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item.description"
          >
            <ng-template #nzTitle>
              <nz-avatar nzIcon="file" class="item-avatar"></nz-avatar>
              <a [routerLink]="['/courses/tutorial', item.id]">{{
                item.title
              }}</a>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
        <button nz-button nzType="primary">开始学习</button>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>
